* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
*** formatação layout ***
*/

#area-principal {
    width: 920px;
    margin: 0 auto;
}


#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-postagens {
    background-color: orange;
    width: 660px;
    float: left;
}

#area-lateral {
    background-color: orange;
    width: 240px;
    float: right;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#rodape {
    background-color: #CCC;
    clear: both;
    text-align: center;
    padding: 15px;
}


/*
*** formatação menu ***
*/

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #FFF;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background: #FFF;
}

/*
*** formatação geral ***
*/

h1{
    color: #4e4e4e;
}

.branco {
    color: white;
}